.stretch {
    width: 50;
    height: 5cm;
    resize: horizontal;
   
  
  }
  @media (min-width: 768px){

.look{

  width: 620px;
}

  }
  .in{

border: 2px;

  }
  .font {
    font-family: 'Rubik',serif;
   
}
.grad1 {
  
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(149, 113, 4));
}
.grad-mob {
  
  background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(149, 113, 4));
}
.bg{
  height: 900px;
  
}
.bg-res{

 height: 900px;
 width: 100px;
}
.grad-btn {
  
  background-image: linear-gradient(to right, rgb(149, 113, 8), rgba(208, 208, 21, 0));
  
}
:hover.grad-btn{
  background-image: linear-gradient(to right, rgb(149, 113, 4), rgb(149, 113, 4));


}
.grad-card {
  
  background-image: linear-gradient(to right, rgba(222, 226, 194, 0), rgb(228, 211, 152));
}
.grad-footer {
  
  background-image: linear-gradient(to right, rgb(149, 113, 8), rgba(208, 208, 21, 0));
  
}