@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Rubik:wght@500&display=swap');*{
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1900px;
    margin: 0 auto;
}
/* *{
    font-family: 'Rubik',serif;
} */